menu "AVB Example Configuration"
    
    config EXAMPLE_AVB_ENTITY_NAME
        string "Entity Name"
        default "AVB Example Entity"
        help
            Set the name of the AVB entity. This name will be used 
            to identify this device in the AVB network.

    config EXAMPLE_AVB_MODEL_ID
        hex "Model ID"
        default 0x0000007468696e67
        help
            Set the model ID for this AVB entity. This ID should uniquely identify 
            the model/type of AVB device within your vendor's product line.

    config EXAMPLE_AVB_TALKER
        bool "Enable AVB Talker"
        default n
        help
            Function as AVB Talker.

    config EXAMPLE_AVB_TALKER_AUTO_STREAM
        bool "Auto Stream"
        depends on EXAMPLE_AVB_TALKER
        default n
        help
            Automatically start streaming when link is up.
      
    choice EXAMPLE_SELECT_MIC_GAIN
        prompt "Set MIC gain"
        depends on EXAMPLE_AVB_TALKER
        default MIC_GAIN_18DB
        help
            Select mic gain for echo mode.

        config MIC_GAIN_0DB
            bool "0dB"
        config MIC_GAIN_6DB
            bool "6dB"
        config MIC_GAIN_12DB
            bool "12dB"
        config MIC_GAIN_18DB
            bool "18dB"
        config MIC_GAIN_24DB
            bool "24dB"
        config MIC_GAIN_30DB
            bool "30dB"
        config MIC_GAIN_36DB
            bool "36dB"
        config MIC_GAIN_42DB
            bool "42dB"
    endchoice
      
    config EXAMPLE_AVB_MIC_GAIN
        depends on EXAMPLE_AVB_TALKER
        int
        default 0 if MIC_GAIN_0DB
        default 1 if MIC_GAIN_6DB
        default 2 if MIC_GAIN_12DB
        default 3 if MIC_GAIN_18DB
        default 4 if MIC_GAIN_24DB
        default 5 if MIC_GAIN_30DB
        default 6 if MIC_GAIN_36DB
        default 7 if MIC_GAIN_42DB

    config EXAMPLE_AVB_LISTENER
        bool "Enable AVB Listener"
        default y
        help
            Function as AVB Listener.

    config EXAMPLE_AVB_LISTENER_AUTO_CONNECT
        bool "Auto Connect"
        depends on EXAMPLE_AVB_LISTENER
        default n
        help
            Automatically connect to an AVB Talker with the same entity model ID.
      
    config EXAMPLE_AVB_SPEAKER_VOLUME
        int "Speaker volume"
        depends on EXAMPLE_AVB_LISTENER
        range 0 100
        default 80
        help
            Set the volume of the speaker.

    config EXAMPLE_AVB_REMOTE_CONTROL
        bool "Allow remote control via ATDECC"
        default y
        help
            Allow an AVB Controller to control this device via ATDECC protocol.

    config EXAMPLE_AVB_PULSE_GPIO
        int "GPIO for pulse indicator LED"
        default 20
        help
            GPIO to use for pulse indicator LED.

    config EXAMPLE_AVB_PULSE_WIDTH_NS
        int "Pulse width"
        default 250000000
        help
            Pulse width for pulse indicator LED.

endmenu
