source "/home/user/Development/esp-idf/components/bt/Kconfig"
source "/home/user/Development/esp-idf/components/console/Kconfig"
source "/home/user/Development/esp-idf/components/driver/Kconfig"
source "/home/user/Development/esp-idf/components/efuse/Kconfig"
source "/home/user/Development/esp-idf/components/esp-tls/Kconfig"
source "/home/user/Development/esp-idf/components/esp_adc/Kconfig"
source "/home/user/Development/esp-idf/components/esp_coex/Kconfig"
source "/home/user/Development/esp-idf/components/esp_common/Kconfig"
source "/home/user/Development/esp-idf/components/esp_driver_ana_cmpr/Kconfig"
source "/home/user/Development/esp-idf/components/esp_driver_bitscrambler/Kconfig"
source "/home/user/Development/esp-idf/components/esp_driver_cam/Kconfig"
source "/home/user/Development/esp-idf/components/esp_driver_dac/Kconfig"
source "/home/user/Development/esp-idf/components/esp_driver_dma/Kconfig"
source "/home/user/Development/esp-idf/components/esp_driver_gpio/Kconfig"
source "/home/user/Development/esp-idf/components/esp_driver_gptimer/Kconfig"
source "/home/user/Development/esp-idf/components/esp_driver_i2c/Kconfig"
source "/home/user/Development/esp-idf/components/esp_driver_i2s/Kconfig"
source "/home/user/Development/esp-idf/components/esp_driver_i3c/Kconfig"
source "/home/user/Development/esp-idf/components/esp_driver_isp/Kconfig"
source "/home/user/Development/esp-idf/components/esp_driver_jpeg/Kconfig"
source "/home/user/Development/esp-idf/components/esp_driver_ledc/Kconfig"
source "/home/user/Development/esp-idf/components/esp_driver_mcpwm/Kconfig"
source "/home/user/Development/esp-idf/components/esp_driver_parlio/Kconfig"
source "/home/user/Development/esp-idf/components/esp_driver_pcnt/Kconfig"
source "/home/user/Development/esp-idf/components/esp_driver_rmt/Kconfig"
source "/home/user/Development/esp-idf/components/esp_driver_sdm/Kconfig"
source "/home/user/Development/esp-idf/components/esp_driver_sdmmc/Kconfig"
source "/home/user/Development/esp-idf/components/esp_driver_spi/Kconfig"
source "/home/user/Development/esp-idf/components/esp_driver_touch_sens/Kconfig"
source "/home/user/Development/esp-idf/components/esp_driver_tsens/Kconfig"
source "/home/user/Development/esp-idf/components/esp_driver_twai/Kconfig"
source "/home/user/Development/esp-idf/components/esp_driver_uart/Kconfig"
source "/home/user/Development/esp-idf/components/esp_driver_usb_serial_jtag/Kconfig"
source "/home/user/Development/esp-idf/components/esp_eth/Kconfig"
source "/home/user/Development/esp-idf/components/esp_event/Kconfig"
source "/home/user/Development/esp-idf/components/esp_gdbstub/Kconfig"
source "/home/user/Development/esp-idf/components/esp_hid/Kconfig"
source "/home/user/Development/esp-idf/components/esp_http_client/Kconfig"
source "/home/user/Development/esp-idf/components/esp_http_server/Kconfig"
source "/home/user/Development/esp-idf/components/esp_https_ota/Kconfig"
source "/home/user/Development/esp-idf/components/esp_https_server/Kconfig"
source "/home/user/Development/esp-idf/components/esp_hw_support/Kconfig"
source "/home/user/Development/esp-idf/components/esp_lcd/Kconfig"
source "/home/user/Development/esp-idf/components/esp_libc/Kconfig"
source "/home/user/Development/esp-idf/components/esp_mm/Kconfig"
source "/home/user/Development/esp-idf/components/esp_netif/Kconfig"
source "/home/user/Development/esp-idf/components/esp_partition/Kconfig"
source "/home/user/Development/esp-idf/components/esp_phy/Kconfig"
source "/home/user/Development/esp-idf/components/esp_pm/Kconfig"
source "/home/user/Development/esp-idf/components/esp_psram/Kconfig"
source "/home/user/Development/esp-idf/components/esp_ringbuf/Kconfig"
source "/home/user/Development/esp-idf/components/esp_rom/Kconfig"
source "/home/user/Development/esp-idf/components/esp_security/Kconfig"
source "/home/user/Development/esp-idf/components/esp_stdio/Kconfig"
source "/home/user/Development/esp-idf/components/esp_system/Kconfig"
source "/home/user/Development/esp-idf/components/esp_timer/Kconfig"
source "/home/user/Development/esp-idf/components/esp_trace/Kconfig"
source "/home/user/Development/esp-idf/components/esp_wifi/Kconfig"
source "/home/user/Development/esp-idf/components/espcoredump/Kconfig"
source "/home/user/Development/esp-idf/components/fatfs/Kconfig"
source "/home/user/Development/esp-idf/components/freertos/Kconfig"
source "/home/user/Development/esp-idf/components/hal/Kconfig"
source "/home/user/Development/esp-idf/components/heap/Kconfig"
source "/home/user/Development/esp-idf/components/ieee802154/Kconfig"
source "/home/user/Development/esp-idf/components/log/Kconfig"
source "/home/user/Development/esp-idf/components/lwip/Kconfig"
source "/home/user/Development/esp-idf/components/mbedtls/Kconfig"
source "/home/user/Development/esp-idf/components/nvs_flash/Kconfig"
source "/home/user/Development/esp-idf/components/nvs_sec_provider/Kconfig"
source "/home/user/Development/esp-idf/components/openthread/Kconfig"
source "/home/user/Development/esp-idf/components/protocomm/Kconfig"
source "/home/user/Development/esp-idf/components/pthread/Kconfig"
source "/home/user/Development/esp-idf/components/sdmmc/Kconfig"
source "/home/user/Development/esp-idf/components/soc/Kconfig"
source "/home/user/Development/esp-idf/components/spi_flash/Kconfig"
source "/home/user/Development/esp-idf/components/spiffs/Kconfig"
source "/home/user/Development/esp-idf/components/tcp_transport/Kconfig"
source "/home/user/Development/esp-idf/components/ulp/Kconfig"
source "/home/user/Development/esp-idf/components/unity/Kconfig"
source "/home/user/Development/esp-idf/components/vfs/Kconfig"
source "/home/user/Development/esp-idf/components/wear_levelling/Kconfig"
source "/home/user/Development/ESP_AVB/managed_components/espressif__esp_codec_dev/Kconfig"