source "/home/user/Development/esp-idf/components/efuse/Kconfig"
source "/home/user/Development/esp-idf/components/esp_common/Kconfig"
source "/home/user/Development/esp-idf/components/esp_hw_support/Kconfig"
source "/home/user/Development/esp-idf/components/esp_libc/Kconfig"
source "/home/user/Development/esp-idf/components/esp_rom/Kconfig"
source "/home/user/Development/esp-idf/components/esp_security/Kconfig"
source "/home/user/Development/esp-idf/components/esp_stdio/Kconfig"
source "/home/user/Development/esp-idf/components/esp_system/Kconfig"
source "/home/user/Development/esp-idf/components/freertos/Kconfig"
source "/home/user/Development/esp-idf/components/hal/Kconfig"
source "/home/user/Development/esp-idf/components/log/Kconfig"
source "/home/user/Development/esp-idf/components/soc/Kconfig"
source "/home/user/Development/esp-idf/components/spi_flash/Kconfig"